* {box-sizing: border-box;}
body {margin: 0;}
.preview-slider-container, .listWrap {background-color: #bababa; border: 1px solid black; width: 654px; position: relative; height: 120px; overflow: hidden; margin-top: 50px; -webkit-transform: translateX(-50%); transform: translateX(-50%); left: 50%;}
.preview-slider, .list {list-style: none;height: 100%; padding: 0; margin: 0; position: absolute; -webkit-transition: left 0.5s; -moz-transition: left 0.5s;transition: left 0.5s;}
.preview-slider li, .list div {width: 110px; height: 100px; background-color: black; margin-top: 10px; float: left;}


/*---Arrows---*/

.preview-slider-arrow, .list-arrow {position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); background-color: white; cursor: pointer;}
.preview-slider-arrow-left, .list-arrow-left {left: 10px;}
.preview-slider-arrow-right, .list-arrow-right {right: 10px;}

/*---Clearfix---*/

.clearfix {	zoom: 1;}
.clearfix:after {content: " "; display: table; clear: both;}